<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154777619578-66gu3eerdoftb9p8osgo93hkt9on5o6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154777619578-66gu3eerdoftb9p8osgo93hkt9on5o6n</string>
	<key>API_KEY</key>
	<string>AIzaSyB_HjP5WnqcLwpDf-s7Dr08HJhgRfKJb98</string>
	<key>GCM_SENDER_ID</key>
	<string>154777619578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>makeus.team.want.ReadingPiece</string>
	<key>PROJECT_ID</key>
	<string>readingpiece</string>
	<key>STORAGE_BUCKET</key>
	<string>readingpiece.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154777619578:ios:13f8e1ff5c71e2492d3fc3</string>
</dict>
</plist>