<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476277619955-f60jj89kv4hl4oa792mbl5eu23ahp19v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476277619955-f60jj89kv4hl4oa792mbl5eu23ahp19v</string>
	<key>API_KEY</key>
	<string>AIzaSyC16L_c4TcoBAlRwtu-2t1xiwl0ArtrvhU</string>
	<key>GCM_SENDER_ID</key>
	<string>476277619955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>makeus.team.want.ReadingPiece</string>
	<key>PROJECT_ID</key>
	<string>readingpiece-7bab2</string>
	<key>STORAGE_BUCKET</key>
	<string>readingpiece-7bab2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476277619955:ios:eb700c3cbe38e9cee6cb86</string>
</dict>
</plist>