<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997065473644-ggsakq03hfvp22apul19k6t264fuh1bu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997065473644-ggsakq03hfvp22apul19k6t264fuh1bu</string>
	<key>API_KEY</key>
	<string>AIzaSyAyzJZ8ZUTctlziFM9YVR-isXfvlpT6W2c</string>
	<key>GCM_SENDER_ID</key>
	<string>997065473644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studiofirstzero.game</string>
	<key>PROJECT_ID</key>
	<string>ggame-92274</string>
	<key>STORAGE_BUCKET</key>
	<string>ggame-92274.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997065473644:ios:3d071ce6d15a1893f8e249</string>
</dict>
</plist>